/*
/*.php
!/\*.sql/
!/docker-compose.yml
!/docker-compose*.yml
!/compose-services.json
!.vscode
/.vscode/settings.json
!.gitignore
!/dockerl
!/hubl
!/compose-generator.sh
!/LICENCE
!/README.md
!/start.sh
!/stop.sh
!/servers/
!/importdata.php
!/etc_hosts
!/composerl
!/public
!/compose-templates
servers/mariadb*-server/
servers/mysql-server*/
